* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

#score {
  width: 100%;
}

#board {
  width: 640px;
  height: 640px;
  margin: 1em auto;
  background-color: #37b221;
}

#board div {
  border: 1px solid white;
  float: left;
  width: 64px;
  height: 64px;
}

#score div {
  width: 10em;
  height: 4em;
  text-align: center;
  padding: 0.5em;
  color: white;
  background-color: rgba(26, 102, 13, 0.75);
  border: 1px solid lightgray;
  border-radius: 1px;
  box-shadow: 1px 1px 5px 1px lightgray;
  margin: 1em auto;
}


.snorlax {
  background-image: url('../images/snorlax.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.orange {
  background-image: url('../images/orange.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.apple {
  background-image: url('../images/apple.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.opponent {
  background-repeat: no-repeat;
  background-size: cover;
}

#over {
  position: fixed;
  width: 100%;
  height: 100%;
  padding-top: 22em;
  text-align: center;
  background-image: url("../images/hungrySnorlax.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 8vh solid white;

}

#over pre {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-weight: bolder;
  color: black;
}

#over p {
  padding-top: 2em;
}

.invisible {
  display: none;
}